/*-- scss:defaults --*/

$font-family-sans-serif: "Roboto", Lato, Helvetica, sans-serif;
$presentation-font-size-root: 40px;

/*-- scss:rules --*/

.reveal code.sourceCode {
    font-size: 1.5em;
}

.reveal pre code {
    font-size: 1.5em;
    padding: 15px;
    background-color: #F0F0F0;
    line-height: 1.2;
}

.reveal .slide-logo {
  display: block;
  position: fixed;
  height: 200px;
}